/* This footer really no works like what i'm expecting */
#footer {
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    color: red;
}

/* Css for unorder list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Css for list item */
li {
  float: left;
}

/* Css for list of href link in the a tag within li*/
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

